/* Base Styles*/
* {
   font-family: "Helvetica Neue", sans-serif, Arial;  
}

.btn.pod{
    font-size: 13px;
}

    
    
#subtitle {
  font-weight: 200;
  letter-spacing: 1px;
}

section scan{
   font-size: 10px;    
}

div > span {
  font-size: 10px;
}

h3 {
  color: #1B75BB;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1B75BB;
}
a:hover {
  color: #2898EF;
}
a:active {
  color: #155D95;
}
header{
    padding: 14px 24px 14px 24px;
    margin: -10px, -10px, 0px, -10px;
    height: 175px;
    position: relative;
    background: black;
    background-size: 100%;
    height: 300px;
    
}
header p{
    font-size: 20px;
    
}






